<footer class='footer'>
    <nav class='footer-navbar'>
        <a href="#"> Home </a>
        <a href="#"> About</a>
        <a href="#"> Order status </a>
        <a href="#"> Contact us </a>
    </nav>

    <nav class='social-media'>
        <a href="#">
            <div id='facebook' class="fab fa-facebook icons"></div>
        </a>
        <a href="#">
            <div id='twitter' class="fab fa-twitter icons"></div>
        </a>
        <a href="#">
            <div id='instagram' class="fab fa-instagram icons"></div>
        </a>
        <a href="#">
            <div id='youtube' class="fab fa-youtube icons"></div>
        </a>
    </nav>
</footer>
<div class='footer-copyright'>
    <a href="https://github.com/DiegoEMartinezZ" target='_blank' rel="noopener noreferrer">
        Diego Martínez, 2022 ©</a>
</div>