<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CoraMora | Home </title>
    <%-include ('../partials/src') %>
</head>

<body>
    <%-include ('../partials/navBar') %>

        <section class='container-products' id='products'>

            <div class='products'>
                <div class='title-product'> Mermelada de mora </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga sequi
                    natus
                    non inventore.</p>

                <h1><i class="fas fa-tag"></i> $25.000</h1>
            </div>
            <div class='products'>
                <div class='title-product'> Mermelada de Fresa </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga sequi
                    natus
                    non inventore.</p>
                <h1><i class="fas fa-tag"></i> $25.000</h1>
            </div>
            <div class='products'>
                <div class='title-product'> Antipasto </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga sequi
                    natus
                    non inventore.</p>
                <h1><i class="fas fa-tag"></i> $25.000</h1>
            </div>

            <div class='products'>
                <div class='title-product'> Mermelada de piña </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga sequi
                    natus
                    non inventore.</p>
                <h1><i class="fas fa-tag"></i> $25.000</h1>
            </div>

            <div class='products'>
                <div class='title-product'> Mermelada de piña </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga sequi
                    natus
                    non inventore.</p>
                <h1><i class="fas fa-tag"></i> $25.000</h1>
            </div>

            <div class='products'>
                <div class='title-product'> Mermelada de piña </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga sequi
                    natus
                    non inventore.</p>
                <h1><i class="fas fa-tag"></i> $25.000</h1>
            </div>

        </section>
        <section class='container-reviews' id='reviews'>
            <div class='users'>
                <div class='title-user'> Don Diego
                    <br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque
                    mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga
                    sequi
                    natus
                    non inventore.</p>
            </div>
            <div class='users'>
                <div class='title-user'> Don Diego
                    <br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque
                    mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga
                    sequi
                    natus
                    non inventore.</p>
            </div>

            <div class='users'>
                <div class='title-user'> Don Diego
                    <br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque
                    mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga
                    sequi
                    natus
                    non inventore.</p>
            </div>

            <div class='users'>
                <div class='title-user'> Don Diego
                    <br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque
                    mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga
                    sequi
                    natus
                    non inventore.</p>
            </div>

            <div class='users'>
                <div class='title-user'> Don Diego
                    <br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque
                    mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga
                    sequi
                    natus
                    non inventore.</p>
            </div>

            <div class='users'>
                <div class='title-user'> Don Diego
                    <br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sit? Repellat est doloremque
                    mollitia
                    obcaecati officia cumque, inventore nam sapiente cum? Similique est voluptatem maxime, fuga
                    sequi
                    natus
                    non inventore.</p>
            </div>
        </section>




        <%-include ('../partials/footer') %>

</body>

</html>